.custom-cursor {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 9999;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 0;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  mix-blend-mode: difference;
  animation: pulsate 1.2s infinite;
}

.custom-cursor.clickable-active {
  width: 45px;
  height: 45px;
  border: 2px solid black;
  outline: 2px solid white;
  background-color: transparent;
  mix-blend-mode: normal;
  cursor: pointer;
}

@keyframes pulsate {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
